<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Kepskast {{ page.title }}</title>
    <link rel="alternate" href="/podcast.xml" type="application/rss+xml">
    <link rel="stylesheet" href="/assets/kepskast.css" type="text/css" media="screen">
    <meta name="viewport" content="width=500">
</head>
<body>
    <header>
        <a href="/">
            <img width=590 src="/assets/kepskast-banner.png" />
            <h1>kepskast</h1>
        </a> 
        <nav id="nav">
            <ul>
                <li><a href="/#nav">Avsnitt</a></li>
                <li><a href="/prenumerera/#nav">Prenumerera</a></li>
                <li><a href="/paverka/#nav">Påverka</a></li>
            </ul>
        </nav>
    </header>