body {
    font-family: "Helvetica Neue", Helvetica, Futura, sans-serif;
    line-height: 1.5em;
    margin: 0 auto;
    width: 500px;
}

header h1 {
    display: none;
}

h1 {
    font-family: Futura, sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 2em;
}

h1 a {
    text-decoration: none;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.meta {
    text-align: center;
}

article {
    margin-bottom: 30px;
}