---
---

body {
    font-family: "Helvetica Neue", Helvetica, Futura, sans-serif;
    line-height: 1.5em;
    margin: 0 auto;
    width: 500px;
}

header h1 {
    display: none;
}

@media (max-width: 500px) {
    header {
        overflow: hidden;
    }
}

h1 {
    font-family: Futura, sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 2em;
}

h1 a {
    text-decoration: none;
}

a {
    color: black;
}

a:visited {
    color: black;
}


nav {
    margin-bottom: 50px;
    li {
        font-family: Futura, sans-serif;
        font-size: 1.5em;
        display: inline-block;
        list-style-type: none;
        margin: 0 30px 0 0;
        a {
            text-decoration: none;
        }
    }
}
    

article {
    margin-bottom: 50px;
}

.meta {
    text-align: center;
}