{% include header.html %}

<article class="episode">
    <h1>
        <a href="{{ page.url }}" rel="bookmark" title="Permanent Link to {{ page.title }}">
            {{ page.title }}
        </a>
    </h1>
    <p class="shownotes">
        {{ content }}
    </p>
    <p class="meta">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
            {{ page.date | date: "%Y-%m-%d" }}
        </time>
         | 
        <a href="{{ page.mp3 }}" rel="bookmark" title="Ladda ner {{ page.title }}">
            Ladda ner MP3
        </a>
    </p>
</article>

{% include footer.html %}