<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>
      Kepskast
      {% if page.layout == "episode" or page.title == nil %}
       {{ page.title }}
      {% else %}
       — {{ page.title }}
      {% endif %}
    </title>
    <link rel="alternate" href="{{ site.podcast_feed_url }}" type="application/rss+xml">
    <link rel="stylesheet" href="/assets/kepskast.css" type="text/css" media="screen">
    <meta name="viewport" content="width=500">
    
    <!-- Favicon crazyness -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
</head>
<body>
    <header>
        <a href="/kepskast">
            <img width=590 src="/assets/kepskast-banner.png" />
            <h1>kepskast</h1>
        </a> 
        <nav id="nav">
            <ul>
                <a href="/kepskast/#nav"><li>Avsnitt</li></a>
                <a href="/kepskast/prenumerera/#nav"><li>Prenumerera</li></a>
                <a href="/kepskast/påverka/#nav"><li>Påverka</li></a>
            </ul>
        </nav>
    </header>
    <div id="content">
      {{ content }}
    </div>
    <script type="text/javascript">
        if (!("ontouchstart" in document.documentElement)) {
            document.documentElement.className += " no-touch";
        }
    </script>
    <footer>
        <img src="/assets/kepskast-footer.png" width=300px />
    </footer>
</body>
</html>